{% extends "base.html" %}
{% load index %}

{% block title %}
    {{title}}
{% endblock title %}



{% block content %}


  <div class="col-md-12">

	<table class="table table-inverse mt-3">
		<thead >
			<tr >
				<th style="text-align: center;" >Image</th>
				<th style="text-align: center;">Title</th>
				<th style="text-align: center;">Price</th>
				<th style="text-align: center;">Quantity</th>
				<th style="text-align: center;">SubTotal</th>
				<th style="text-align: center;">Update Order</th>
			</tr>
		</thead>
		<tbody>
{% comment %} {% for j in i %} {% endcomment %}
		    {% for key,value in request.session.cart.items %}



		    <tr>
		        <td><img class="cpi" width="100px" src="{{value.photo}}" alt=""></td>
		        <td>{{value.title}}</td>
		        <td>&#8377;{{value.price}}</td>
		        <td>{{value.quantity}}</td>
				<td>
					&#8377; {{sub|index:forloop.counter0}}
				</td>
				<td>
		            <a class="btn btn-secondary" href="{% url "cart:item_increment" key %}">+</a>&nbsp;
		            <a class="btn btn-secondary" href="{% url "cart:item_decrement" key%}">-</a>&nbsp;
		            <a class="btn btn-danger" href="{% url "cart:item_clear" key %}">Clear</a>&nbsp;
		        </td>



		    </tr>
			{% comment %} {% endfor %} {% endcomment %}

		    {% endfor %}
		    <tr>
		        <td colspan="6" align="right"><b>Total: </b>&#8377; {{total}}</td>
		    </tr>
		    <tr>
		        <td colspan="5" align="right">
		            <a onclick="return confirm('Are You Sure')" class="clearcart btn btn-danger" href="{% url "cart:cart_clear"  %}">Clear cart</a>
		        </td>
		        <td colspan="5" align="right">
		            <a class="btn btn-primary buynow" href="{% url "cart:checkout" %}">Buy now</a>
		        </td>
		</tr>
		</tbody>
	</table>
	 <a class="btn btn-primary buynow" href="{% url "pages:all_products" %}">Continue Shopping</a>
  </div>




{% endblock content %}
