

env/
venv/
__pycache__/
*.py[cod]
*$py.class
*.pyc
*.log
*/migrations/*
!*/migrations/__init__.py
db.sqlite3
local_settings.py
filename.jpg


.vscode
.idea
.project
*.sublime-workspace
*.sublime-project

.DS_Store
.Trashes
.Spotlight-V*
Thumbs.db
Icon?