{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{% block title %}

  {% endblock title %}</title>
  <!-- Bootstrap CSS -->
  {% comment %} <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'css/style.css' %}"> {% endcomment %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/style_chat.css' %}" />
  <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC:400,700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/static/css/open-iconic-bootstrap.min.css">
  <link rel="stylesheet" href="/static/css/animate.css">

  <link rel="stylesheet" href="/static/css/owl.carousel.min.css">
  <link rel="stylesheet" href="/static/css/owl.theme.default.min.css">
  <link rel="stylesheet" href="/static/css/magnific-popup.css">

  <link rel="stylesheet" href="/static/css/aos.css">

  <link rel="stylesheet" href="/static/css/ionicons.min.css">

  <link rel="stylesheet" href="/static/css/bootstrap-datepicker.css">
  <link rel="stylesheet" href="/static/css/jquery.timepicker.css">


  <link rel="stylesheet" href="/static/css/flaticon.css">
  <link rel="stylesheet" href="/static/css/icomoon.css">
  <link rel="stylesheet" href="/static/css/style.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.2/css/all.css">


   <link rel= "stylesheet" type= "text/css" href= "{% static 'css/materialize.min.css' %}">
  <style type="text/css">
    .form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da !important;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
  </style>
  <style>
.nobg{
  width:36px;

  {% comment %} background:white !important; {% endcomment %}
  background-color:#fff !important;

}
.nobgform{
  background-color:#fff !important;
  box-shadow: 0 !important


}

 input.nobg {
    background-image: url({% static 'img/vintage.png' %});
    background-repeat: no-repeat;
    text-indent: 30px;
}
</style>

</head>
<body class="animsition">


  <!-- NavBar -->
  {% include 'partials/_navbar.html' %}

  <div class="mt-2">
    {% if messages %} {% for message in messages %}
    <div
      class="alert alert-{{ message.tags }} alert-dismissible fade show"
      role="alert"
    >
      {{ message }}

      <button
        type="button"
        class="close"
        data-dismiss="alert"
        aria-label="Close"
      >
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  </div>

  {% endfor %}
  {% endif %}

  {% block content %}
  {% endblock content %}

   {% block extra_body %}
   {% endblock %}



  <!-- Footer -->
  {% comment %} {% include 'partials/_footer.html' %} {% endcomment %}

 <!-- jQuery first, then Popper.js and Bootstrap JS. -->
 <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
 <script src="{% static 'js/script_chat.js' %}"></script>






 <script src="/static/js/jquery.min.js"></script>
<script src="/static/js/jquery-migrate-3.0.1.min.js"></script>
<script src="/static/js/popper.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script src="/static/js/jquery.easing.1.3.js"></script>
<script src="/static/js/jquery.waypoints.min.js"></script>
<script src="/static/js/jquery.stellar.min.js"></script>
<script src="/static/js/owl.carousel.min.js"></script>
<script src="/static/js/jquery.magnific-popup.min.js"></script>
<script src="/static/js/aos.js"></script>
<script src="/static/js/jquery.animateNumber.min.js"></script>
<script src="/static/js/bootstrap-datepicker.js"></script>
<script src="/static/js/scrollax.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
<script src="/static/js/google-map.js"></script>
<script src="/static/js/main.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
 <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
<script type="text/javascript">
  $(".block2-btn-addcart").each(function() {
    var nameProduct = $(this)
      .parent()
      .parent()
      .parent()
      .find(".block2-name")
      .html();
    $(this).on("click", function() {
      swal(nameProduct, "is added to cart !", "success");
    });
  });
</script>

<script src="{% static 'js/main.js' %}"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/webcamjs/1.0.25/webcam.js"></script>


</body>

</html>