{% extends "base.html" %}

{% block title %}
    {{title}}
{% endblock title %}



{% block content %}

  <div class="col-md-12">
	  	<p>
	  		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia a numquam nobis? Consectetur nostrum labore voluptas porro similique placeat cum ad veniam debitis, consequuntur, sed sequi aliquam, quas molestias ratione.
	  		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia a numquam nobis? Consectetur nostrum labore voluptas porro similique placeat cum ad veniam debitis, consequuntur, sed sequi aliquam, quas molestias ratione.
	  		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia a numquam nobis? Consectetur nostrum labore voluptas porro similique placeat cum ad veniam debitis, consequuntur, sed sequi aliquam, quas molestias ratione.
	  		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia a numquam nobis? Consectetur nostrum labore voluptas porro similique placeat cum ad veniam debitis, consequuntur, sed sequi aliquam, quas molestias ratione.
	  		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia a numquam nobis? Consectetur nostrum labore voluptas porro similique placeat cum ad veniam debitis, consequuntur, sed sequi aliquam, quas molestias ratione.
	  	</p>
  </div>




{% endblock content %}


