{% extends "base.html" %}

{% block title %}
    {{title}}
{% endblock title %}



{% block content %}

  <div class="col-md-4 mt-4">
	<ul class="list-group">
		<li class="list-group-item"><a href="{% url "pages:all_products" %}">All Products</a></li>
		<li class="list-group-item">All Products</li>
		<li class="list-group-item">All Products</li>
	</ul>
  </div>
  <div class="col-md-8 mt-4">
	<h1 class="page-header">{{product.title}}</h1>
	<img  src="{{product.photo.url}}" width="400px" class="img-thumbnail" alt="">
    <br>
    <p>{{product.description}}</p>
    <p>Price : ${{product.price}}</p>
    <p>Avaiable : {{product.quantity}}</p>
    <p><a href="{% url "cart:cart_add" product.slug %}">Add to cart</a></p>

  </div>




{% endblock content %}


